<div class="main-container">
  <div class="container mb-4">
    <div class="row my-4">
      <div class="col">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link lead text-dark" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lead text-dark" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lead text-dark" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark lead" href="#" target="_blank">🐦 Twitter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark lead" href="#" target="_blank">📸 Instagram</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col">
        <p class="text-center text-dark lead">Contact us at <a class="text-secondary" href="mailto:hello@nutrita.app?subject=Hey">hello@nutrita.app</a> •  © Nutrita.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-7">
        <div class="card card-inactive"><div class="card-body"><h3 class="text-center">Disclaimer</h3><p class="text-muted text-center">The Service offers health, fitness and nutritional information and is designed for educational purposes only. You should not rely on this information as a substitute for, nor does it replace, professional medical advice, diagnosis, or treatment. If you have any concerns or questions about your health, you should always consult with a physician or other health-care professional. Do not disregard, avoid or delay obtaining medical or health related advice from your health-care professional because of something you may have read on the Service. The use of any information provided on the Service is solely at your own risk.</p></div></div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="alert alert-light alert-dismissible fade show mx-3 pr-4 mb-4" role="alert">
          <div class="row d-flex align-items-center">
            <div class="col">
              By using this website, you agree to our <a href="" target="_blank">privacy policy</a>
            </div>
            <div class="col-auto pr-0 justify-content-between align-items-center d-flex">
              <button type="button" class="close position-relative d-flex align-self-end py-0 pr-2" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- / .main-container -->
