<nav class="navbar navbar-expand-lg navbar-light px-3 mb-2 mb-md-5 bg-transparent border-0 fixed-top d-none d-lg-flex" id="topnav">
  <div class="container">
    <div class="row d-flex justify-content-between no-gutters w-100">
      <div class="col d-flex align-items-center">
        <!-- Brand -->
        <a class="navbar-brand mr-3 d-flex align-items-center" href="index.html">
          <i class="fe fe-arrow-left mr-5 h1 mb-0"></i>
        </a>
      </div>
      <div class="col-lg-8 col-xl-8">
        <!-- Search Form mobile -->
        <a href="search-zero-state.html">
          <form class="form-inline">
            <div class="input-group input-group-merge input-group-lg w-100 rounded" data-toggle="lists" data-lists-values='["name"]'>
              <!-- Input -->
              <input type="search" class="form-control form-control-prepended bg-white pl-0" data-toggle="dropdown" placeholder="Search Food, Brand..." aria-label="Search" disabled>
              <div class="input-group-prepend">
                <div class="input-group-text bg-white pl-4 pr-4">
                  <i class="fe fe-search"></i>
                </div>
              </div>
            </div>
          </form>
        </a>
      </div>
      <div class="col">
        <div class="dropdown d-flex justify-content-end">
          <a href="#!" class="dropdown-ellipses dropdown-toggle btn btn-link text-dark" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fe fe-more-vertical"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="#!" class="dropdown-item">
              Help
            </a>
            <a href="#!" class="dropdown-item">
              Send a feedback
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .container -->
</nav>

<nav class="navbar navbar-expand-lg navbar-light px-3 mb-2 mb-md-5 bg-transparent border-0 fixed-top d-flex d-lg-none" id="topnav">
  <div class="container">
    <div class="row w-100 d-flex justify-content-center no-gutters">
      <div class="col-12 col-lg-10 col-xl-8 px-md-3">
        <!-- Search Form mobile -->
        <a href="search-zero-state.html">
          <form class="form-inline">
            <div class="input-group input-group-merge input-group-lg w-100 shadow-sm rounded">

              <!-- Input -->
              <input type="search" class="form-control form-control-prepended bg-white pl-0" data-toggle="dropdown" placeholder="Search Food, Brand..." aria-label="Search" disabled>
              <div class="input-group-prepend">
                <div class="input-group-text py-0">
                  <button class="btn btn-link btn-sm text-secondary" type="button" name="button"><i class="h3 mb-0 fe fe-arrow-left d-flex d-lg-none"></i></button>
                </div>
              </div>
            </div>

          </form>
        </a>
      </div>
    </div>
  </div> <!-- / .container -->
</nav>
