<nav class="navbar navbar-expand-lg navbar-light px-3 mb-2 mb-md-5 bg-transparent border-0" id="topnav">
  <div class="container">
    <div class="row d-flex justify-content-between no-gutters w-100">
      <div class="col d-flex align-items-center">
        <!-- Brand -->
        <a class="text-dark" href="index.html"><i class="fe fe-arrow-left h1 mb-0"></i></a>
      </div>
      <div class="col ml-auto d-flex justify-content-end">
        <div class="navbar-user">
          <div class="dropdown d-flex justify-content-end">
            <a href="#!" class="dropdown-ellipses dropdown-toggle btn btn-link text-dark" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fe fe-more-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="#!" class="dropdown-item">
                <i class="fe fe-twitter mr-2"></i>Share on Twitter
              </a>
              <a href="#!" class="dropdown-item">
                <i class="fe fe-facebook mr-2"></i>Share on Facebook
              </a>
              <a href="#!" class="dropdown-item">
                <i class="fe fe-copy mr-2"></i>Copy link
              </a>
              <hr>
              <a href="#!" class="dropdown-item small">
                Help
              </a>
              <a href="#!" class="dropdown-item small">
                Send a feedback
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- / .container -->
</nav>
