<nav class="navbar navbar-expand-lg navbar-light px-3 mb-2 mb-md-5 bg-transparent border-0" id="topnav">
  <div class="container">
    <div class="row d-flex justify-content-between no-gutters w-100">
      <div class="col d-flex align-items-center">
        <!-- Brand -->
        <a class="text-dark" href="dashboard-full.html"><i class="fe fe-arrow-left h1 mb-0"></i></a>
      </div>
      <div class="col ml-auto d-flex justify-content-end">
        <div class="navbar-user">
          <a href="https://gitbook.com" class="btn btn-primary mr-3" role="button" target="_blank">
            Get support
          </a>
          <a href="settings.html" class="btn btn-link text-dark" role="button">
            <i class="fe fe-settings"></i>
          </a>
        </div>
      </div>
    </div>
  </div> <!-- / .container -->
</nav>
