<nav class="navbar navbar-expand-lg navbar-light px-3 mb-2 mb-md-5 bg-white fixed-top d-none d-lg-flex" id="topnav">
  <div class="container">
    <div class="row d-flex justify-content-between no-gutters w-100">
      <div class="col d-flex align-items-center">
        <!-- Brand -->
        <a class="text-dark" href="#" data-toggle="modal" data-target="#sidebarModalUserConnected"><i class="fe fe-menu mr-3 h1 mb-0"></i></a>
        <a class="navbar-brand mr-auto d-flex align-items-center" href="dashboard-full.html">
          <img src="assets/img/logo.svg" alt="..." class="navbar-brand-img">
          <span class="text-secondary ml-2 h3 mb-0">Nutrita</span>
        </a>
      </div>
      <div class="col-lg-8 col-xl-8">
        <!-- Search Form mobile -->
        <a href="search-zero-state.html">
          <form class="form-inline">
            <div class="input-group input-group-merge input-group-lg w-100 rounded" data-toggle="lists" data-lists-values='["name"]'>

              <!-- Input -->
              <input type="search" class="form-control form-control-prepended form-control-appended bg-white" data-toggle="dropdown" placeholder="Search Food, Brand..." aria-label="Search" disabled>
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <i class="fe fe-search"></i>
                </div>
              </div>
              <div class="input-group-append">
                <div class="input-group-text bg-white">
                  <i class="fe fe-x"></i>
                </div>
              </div>
            </div>
          </form>
        </a>
      </div>
      <div class="col ml-auto d-flex justify-content-end">
        <div class="navbar-user">
          <a href="https://gitbook.com" class="btn btn-link text-muted" role="button" target="_blank">
            <i class="fe fe-help-circle h2"></i>
          </a>

          <!-- Dropdown -->
          <div class="dropdown mr-2 d-none d-md-flex">

            <!-- Toggle -->
            <a href="#" class="btn btn-link text-muted" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="icon active">
                <i class="fe fe-bell"></i>
              </span>
            </a>

            <!-- Menu -->
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col">

                    <!-- Title -->
                    <h5 class="card-header-title">
                      Notifications
                    </h5>

                  </div>
                  <div class="col-auto">

                    <!-- Link -->
                    <a class="small" href="#" data-toggle="modal" data-target="#sidebarModalUserNotification" role="button">
                      View all
                    </a>

                  </div>
                </div> <!-- / .row -->
              </div> <!-- / .card-header -->
              <div class="card-body">

                <!-- List group -->
                <div class="list-group list-group-flush my-n3">
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>
                  <a class="list-group-item px-0" href="#!">
                    <div class="row no-gutters">
                      <div class="col-auto mr-3">
                        <i class="fe fe-bell text-premium"></i>
                      </div>
                      <div class="col mr-1">
                        <!-- Content -->
                        <div class="small text-muted">
                          Notification content on one, two or three line...
                        </div>
                      </div>
                    </div> <!-- / .row -->
                    <div class="row">
                      <div class="col text-right">
                        <small class="text-muted h6">
                          2m
                        </small>
                      </div>
                    </div>
                  </a>

                </div>

              </div>
            </div> <!-- / .dropdown-menu -->

          </div>

          <!-- Dropdown -->
          <div class="dropdown">

            <!-- Toggle -->
            <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://pbs.twimg.com/profile_images/1046781704608915458/5xxk-UR7_400x400.jpg" alt="..." class="avatar-img rounded-circle">
            </a>

            <!-- Menu -->
            <div class="dropdown-menu dropdown-menu-right">
              <a href="profile.html" class="dropdown-item">Profile</a>
              <a href="settings.html" class="dropdown-item">Settings</a>
              <a href="invite.html" class="dropdown-item">Free months</a>
              <hr class="dropdown-divider">
              <a href="index.html" class="dropdown-item">Log out</a>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div> <!-- / .container -->
</nav>

<nav class="navbar navbar-expand-lg navbar-light px-3 mb-2 mb-md-5 bg-transparent border-0 fixed-top d-flex d-lg-none" id="topnav">
  <div class="container">
    <div class="row w-100 d-flex justify-content-center no-gutters">
      <div class="col-12 col-lg-10 col-xl-8 px-md-3">
        <!-- Search Form mobile -->
        <a href="search-zero-state.html">
          <form class="form-inline">
            <div class="input-group input-group-merge input-group-lg w-100 shadow-sm rounded" data-toggle="lists" data-lists-values='["name"]'>

              <!-- Input -->
              <input type="search" class="form-control form-control-prepended bg-white" data-toggle="dropdown" placeholder="Search Food, Brand..." aria-label="Search" disabled>
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <i class="fe fe-menu"></i>
                </div>
              </div>

            </div>
          </form>
        </a>
      </div>
    </div>
  </div> <!-- / .container -->
</nav>
