<nav class="navbar navbar-expand-lg navbar-light px-3 mb-2 mb-md-5 bg-white fixed-top d-none d-lg-flex" id="topnav">
  <div class="container">
    <div class="row d-flex justify-content-between no-gutters w-100">
      <div class="col d-flex align-items-center">
        <!-- Brand -->
        <a class="text-dark" href="#" data-toggle="modal" data-target="#sidebarModal"><i class="fe fe-menu mr-3 h1 mb-0"></i></a>
        <a class="navbar-brand mr-auto d-flex align-items-center" href="index.html">
          <img src="assets/img/logo.svg" alt="..." class="navbar-brand-img">
          <span class="text-secondary ml-2 h3 mb-0">Nutrita</span>
        </a>
      </div>
      <div class="col-lg-8 col-xl-8">
        <!-- Search Form mobile -->
        <a href="search-zero-state.html">
          <form class="form-inline">
            <div class="input-group input-group-merge input-group-lg w-100 rounded" data-toggle="lists" data-lists-values='["name"]'>

              <!-- Input -->
              <input type="search" class="form-control form-control-prepended bg-white" data-toggle="dropdown" placeholder="Search Food, Brand..." aria-label="Search" disabled>
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <i class="fe fe-search"></i>
                </div>
              </div>
            </div>
          </form>
        </a>
      </div>
      <div class="col ml-auto d-flex justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item mr-2 d-flex align-items-center">
            <a class="text-secondary btn btn-link btn-sm" href="#" data-toggle="modal" data-target="#signIn">
              Sign in
            </a>
          </li>
          <li class="nav-item mr-2 d-flex align-items-center">
            <a class="text-white btn btn-success btn-sm" href="#" data-toggle="modal" data-target="#onboardingTuto">
              Sign Up
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div> <!-- / .container -->
</nav>

<nav class="navbar navbar-expand-lg navbar-light px-3 mb-2 mb-md-5 bg-transparent border-0 fixed-top d-flex d-lg-none" id="topnav">
  <div class="container">
    <div class="row w-100 d-flex justify-content-center no-gutters">
      <div class="col-12 col-lg-10 col-xl-8 px-md-3">
        <!-- Search Form mobile -->
        <a href="search-zero-state.html">
          <form class="form-inline">
            <div class="input-group input-group-merge input-group-lg w-100 shadow-sm rounded" data-toggle="lists" data-lists-values='["name"]'>

              <!-- Input -->
              <input type="search" class="form-control form-control-prepended bg-white" data-toggle="dropdown" placeholder="Search Food, Brand..." aria-label="Search" disabled>
              <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                  <i class="fe fe-menu"></i>
                </div>
              </div>

            </div>
          </form>
        </a>
      </div>
    </div>
  </div> <!-- / .container -->
</nav>
<div class="container mt-7">
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-lg-8 text-center text-lg-left">
      <a class="navbar-brand mr-auto d-flex d-lg-none align-items-center" href="index.html">
        <img src="assets/img/logo.svg" alt="..." class="image-fluide mx-auto mb-3">
      </a>
      <!-- Title -->
      <h1 class="display-1 d-none d-lg-block mb-5">
        The app to <span class="animated-under-text">lose fat</span> & control <span class="animated-under-text">blood sugars</span>
      </h1>
      <h1 class="display-4 d-block d-lg-none mb-5">
        The app to lose <span class="animated-under-text">fat</span> & control <span class="animated-under-text">blood sugars</span>
      </h1>
      <!-- Subtitle -->
      <h6 class="header-pretitle text-muted">I want to</h6>
      <div class="btn-group-vertical btn-group-lx mb-3" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-white text-left" data-toggle="modal" data-target="#getNutritaUnlimited">Lose fat</button>
        <button type="button" class="btn btn-white text-left" data-toggle="modal" data-target="#getNutritaUnlimited">Control blood sugar</button>
        <button type="button" class="btn btn-white text-left" data-toggle="modal" data-target="#getNutritaUnlimited">Gain muscle</button>
        <button type="button" class="btn btn-white text-left" data-toggle="modal" data-target="#getNutritaUnlimited">Maintain body weight</button>
      </div>
      <p class="text-muted small">Already using Nutrita? <a href="#" data-toggle="modal" data-target="#signIn">Sign in</a>.</p>
    </div>
    <div class="col-12 col-lg-4">
      <img class="img-fluid" src="https://uphold.com/img/mockup1x.png" alt="">
    </div>
  </div> <!-- / .row -->
</div> <!-- / .container -->
